@import "uikit.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-blue: hsl(237, 99%, 51%);
    --color-primary-purple: hsl(301, 93%, 26%);
    --color-primary-pink: hsl(349, 94%, 87%);
    --color-secondary-grey: hsl(200, 15%, 84%);
    --color-success: hsl(112, 99%, 72%);
    --color-notice: hsl(47, 99%, 70%);
    --color-error: hsl(15, 97%, 61%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
}

p {
    padding: 0;
    margin: 0;
}

nav {
    & a, input[type="submit"]  {
        display: inline-block;
        color: white;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: theme("colors.brand.pink");
            text-decoration: none;
        }

    }

    & div[data-anchor] {
        @apply w-max bg-brand-grey absolute top-[100%] -left-[50%] flex-col;

        & a {
            @apply text-black border-b border-b-white px-4 py-3;

            &:last-child {
                @apply border-b-0;
            }

            &:hover {
                @apply bg-brand-purple text-white;
            }
        }
    }

    & div[data-nav-link] {
        @apply relative h-full flex items-center;
    }
}

.uk-button {
    background-color: var(--color-primary-blue);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.uk-input {
    &:focus {
        border-color: var(--color-primary-blue);
    }
}

.uk-toggle-switch {
    scale: 0.75;
}
